#u260-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u261-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u262-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u263-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u300-4,#u319-4,#u281-18,#u291-4,#u309-4,#u320-4,#u310-4,#u321-4,#u331-8
{
	font-family: pt-sans-n4, sans-serif;
}

#u1749-4,#u1750-4,#u1751-4,#u1752-4,#u1755-4,#u1756-4,#u1757-4,#u380-4
{
	font-family: pt-sans-n7, sans-serif;
}

